<div class="container" style="min-height: 600px">
    <div class="row" >
       <div class="col-md-8 offset-md-2">
        <h1 class="text-center text-success">My Cart</h1>
        <a href="/cart/clearcart" class="text-light btn btn-dark d-block float-right">Clear Cart</a>
       </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            
            <%
                  var total_price=0
                 result.forEach(function(product,index){ 
                
                var d=product.discount
                var net_price=product.price-product.price*d/100
                total_price += net_price
                %>
                

                <div class="card mt-2">
                        <div class="card-header">
                            <strong><%= index+1 %>. <%= product.name %></strong>
                            <a href="/cart/delete_item/<%= product._id %>" class="btn btn-sm btn-danger mx-auto">Del</a>
                            <p class="float-right m-o">
                                Price: <%= product.price %>
                            </p>
                        </div>
                        <div class="card-body">
                            <p class="float-right m-0">
                                Net Price : <%= net_price %>
                            </p>
                        </div>
        
                    </div>



            <% }) %>
            <p class="alert alert-success">
                <strong>Total Price : <%= total_price %></strong>
                <a href="#" class="btn btn-sm btn-dark d-block float-right">Checkout</a>
            </p>

        </div>
    </div>


</div>
