<html>
    <head>
        <title>Home Page</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <h1><%= username %></h1>
        <ol>
            <% city.forEach(function(x){ %>

                <li><%= x %></li>


            <% }) %>
        </ol>




        <!-- <ol>
            <li><%= city[0] %>/li>
            <li><%= city[1] %>/li>
            <li><%= city[2] %>/li>
        </ol> -->















        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos mollitia expedita soluta tenetur ad quidem deserunt deleniti nesciunt, consectetur consequuntur debitis. Obcaecati vel molestias repellendus ut cumque veritatis et nemo.</p>
    </body>
</html>